<!--<p>movimientos works!</p>-->

<!-- <p>movimientos works!</p> -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Movimientos | BBVA</title>

    <style type="text/css">
        * {
            padding: 0px;
            margin: 0px;
        }
        
        body {
            color: #000;
        }
        
        .nav-tipografy {
            color: #FFF;
        }
        
        .custom-img {
            position: absolute;
            max-width: 100%;
            width: 250px;
            top: 13px;
            left: 1600px;
            height: auto;
            /* float: left; */
            display: block;
        }
        
        @media screen and (max-width: 420px) {
            .custom-img {
                display: none;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-primaty bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" class="nav-tipografy">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color:#FFF;">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:#FFF;">Movimientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:#FFF;">Transferencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:#FFF;">Precios de Monedas</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <img src="img/bbva.png" class="img-fluid custom-img">
            </form>

        </div>
    </nav>
    <div>
        <p>
            <p></p>
        </p>
        <p>
            <p></p>
        </p><br><br></div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div>
                    <h3>Movimientos</h3>
                </div>
                <form>
                    <div class="form-group">
                        <table class="table">
                            <thead style="color: blue;">
                                <tr>
                                    <th scope="col"> Id Usuario</th>
                                    <th scope="col">Ipo de operacion</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Precio </th>
                                    <th scope="col">Id Cripto </th>
                                    <th scope="col">Monto Gastado </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>null</td>
                                    <td>null</td>
                                    <td>null</td>
                                    <td>null</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>

</html>