*{
            padding: 0px;
            margin: 0px;
        }

        body{
        color: #000;   
        }

        .nav-tipografy{
            color:#FFF;
        }

        .custom-img{
                position: absolute;
                max-width: 100%;
                width: 250px;
                top: 13px;
                left: 1600px;
                height: auto;
                /* float: left; */
                display: block;
        }

        @media screen and (max-width: 420px) {
            .custom-img{
               display: none;
            }
        }